# Librerías

In [1]:
'''La libreria pandas proporciona herramientas de analisis y manipulacion de datos de alto rendimiento'''
import pandas
import pydotplus
'''seaborn es una librería de visualización de datos para Python desarrollada sobre matplotlib'''
import seaborn as sns
'''Utilizada para hacer análisis predictivo'''
from sklearn import tree
'''Cadenas de texto son de tipo str y se delimitan mediante el uso de comillas simples o dobles'''
from six import StringIO
'''librería para sacar las metricas de un entrenamiento'''
from sklearn import metrics
'''biblioteca para la generación de gráficos a partir de datos contenidos'''
import matplotlib.pyplot as plt
'''librería que permite guardar una imágen'''
from IPython.display import Image
'''libreria para generar la matriz de confusión'''
from sklearn.metrics import confusion_matrix
'''libreria para generar la matriz de confusión de fora gráfica'''
from sklearn.metrics import plot_confusion_matrix
'''Determinación de las metricas que se obtuvieron en el entrenamiento, la la viable objetivo es multiclase y es por ello que se calculan las tres clases'''
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
'''uso de la libretia metrict de sklearn para sacar en una esquema la exactitud y precisión'''
from sklearn.metrics import accuracy_score, precision_score
'''Líbreria para graficar el arbol de decisión'''
from sklearn.tree import DecisionTreeClassifier, export_graphviz

# Asignación del dataset

In [2]:
'''dando uso de la libreria pandas se puede cargar el contenido del dataset 'Diabetes.csv'y este es guardado en la variable df'''
df = pandas.read_csv('Diabetes.csv')
'''Usando la funcion 'head()' se puede construir un dataframe de los datos cargados en la variable objeto df '''
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

# Escaneo de los datos que se reemplazarán por números

In [3]:
'''Se agrupan los datos del campo correspondiente al género, ya que estos serán cambiados a número. 
Esto tambien se usa para verificar que no existan anomalías en los datos'''
df.groupby('Gender').size()

Gender
F    434
M    565
f      1
dtype: int64

In [4]:
'''Se agrupan los datos del campo correspondiente a la variable objbetivo, ya que estos serán cambiados a número. 
Esto tambien se usa para verificar que no existan anomalías en los datos'''
df.groupby('CLASS').size()

CLASS
N     102
N       1
P      53
Y     840
Y       4
dtype: int64

### Reemplazo de datos

In [5]:
'''Se realiza una pequeña limpieza, es decir que se reemplazan las minusculas por mayusculas en el campo del género'''
df['Gender']=df['Gender'].replace('f','F')

In [6]:
'''Se realiza una pequeña limpieza, es decir que se reemplazan las minusculas por mayusculas en el campo de la varibale objetivo'''
df['CLASS']=df['CLASS'].replace('Y ','Y')
df['CLASS']=df['CLASS'].replace('N ','N')

### Verificación del reemplazo

In [7]:
'''Se agrupan los datos del campo correspondiente al género, ya que estos serán cambiados a número. 
Esto tambien se usa para verificar que no existan anomalías en los datos'''
df.groupby('Gender').size()

Gender
F    435
M    565
dtype: int64

In [8]:
'''Se agrupan los datos del campo correspondiente a la variable objbetivo, ya que estos serán cambiados a número. 
Esto tambien se usa para verificar que no existan anomalías en los datos'''
df.groupby('CLASS').size()

CLASS
N    103
P     53
Y    844
dtype: int64

# Transformación de datos string a numéricos

In [9]:
'''Transformación de datos string a numéricos, en este caso se aplica al campo correspondiente al género'''
d1 = {'F': 0, 'M': 1}
df['Gender'] = df['Gender'].map(d1)

In [10]:
'''Transformación de datos string a numéricos, en este caso se aplica al campo correspondiente a la variable objetivo'''
d2 = {'N': 0, 'P': 1, 'Y': 2}
df['CLASS'] = df['CLASS'].map(d2)

### Verificación de los cambios aplicados

In [11]:
'''Usando la funcion 'head()' se puede construir un dataframe para observar de mejor forma los datos '''
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0